<!DOCTYPE html>
<html>
    <body>
        <form id="form1" method="POST" action="/form">
            <label for="str">INPUT</label>
            <input type="text" id="ip" name="str">
            <input type="submit" value="submit">
        </form>
    </body>
</html>